/* colors */
/* font */
/* queries */
@font-face
{
    font-family: 'Constantia';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/Constantia.eot');
    src: url('../fonts/Constantia.eot?#iefix') format('embedded-opentype'), url('../fonts/Constantia.woff') format('woff'), url('../fonts/Constantia.ttf') format('truetype'), url('../fonts/Constantia.svg#Constantia') format('svg');
}

@font-face
{
    font-family: 'Constantia';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/Constantia-Bold.eot');
    src: url('../fonts/Constantia-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Constantia-Bold.woff') format('woff'), url('../fonts/Constantia-Bold.ttf') format('truetype'), url('../fonts/Constantia-Bold.svg#Constantia') format('svg');
}

body,
html
{
    font-family: 'Constantia', 'Helvetica', Arial, serif; 

    position: fixed;

    width: 100%;
    height: 100%;
}

html
{
    font-size: 30px; 

    overflow: hidden;
}

body
{
    position: relative;

    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

body,
html,
.app,
.intro
{
    height: 100%;
}

button
{
    padding: 0; 

    border: none;
    outline: none;
    background: none;
}

.version
{
    position: absolute;
    z-index: 999; 
    right: 10px;
    bottom: 10px;
}

p
{
    margin: 0;
}

.hidden
{
    display: none !important;
}

.intro
{
    position: relative;
    z-index: 2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease; 
    text-align: center;

    background-image: url('../images/background-aim.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.intro.hide
{
    z-index: -1; 

    -webkit-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    opacity: 0;
}
.intro__text
{
    width: 50%;

    text-align: center; 

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
}

.angle-illustration
{
    position: absolute;
    z-index: -1;
    top: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease; 

    opacity: 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
.angle-illustration--down
{
    background-image: url('../images/aim-down.jpg');
}
.angle-illustration--ok
{
    background-image: url('../images/aim-ok.jpg');
}
.angle-illustration--up
{
    background-image: url('../images/aim-up.jpg');
}

.decoration
{
    font-family: 'Constantia', 'Helvetica', Arial, serif;
    font-size: 60px;
    font-weight: 700;

    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    width: 100%;
    min-height: 210px;
    padding-top: 70px;
    padding-bottom: 65px;

    color: #af2626;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.decoration--question
{
    font-weight: 400; 

            flex-direction: column;

    padding-right: 55px;
    padding-left: 55px;

    color: #694025;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}
.decoration:after,
.decoration:before
{
    position: absolute;
    right: 50%;

    display: block;

    width: 452px;
    height: 37px;

    content: '';

    background-image: url('../images/decor.png');
    -webkit-background-size: cover;
            background-size: cover;
}
.decoration:after
{
    top: 0;

    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);

    will-change: transform;
}
.decoration:before
{
    bottom: 0;

    -webkit-transform: translateX(50%) rotate(180deg);
        -ms-transform: translateX(50%) rotate(180deg);
            transform: translateX(50%) rotate(180deg);

    will-change: transform;
}

.header
{
    font-size: 53px;
    font-weight: 700;

    margin-bottom: 10px;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    letter-spacing: .8px;
    text-transform: uppercase;

    color: #694025;
}
.header--under
{
    font-size: 60px;
    font-weight: 400;

    max-width: 860px;
    margin: 0 auto;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;

    color: #694025;
}

.game-name
{
    margin-top: 200px;
}

.start-button
{
    margin-bottom: 140px;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in; 
    text-transform: uppercase;

    will-change: transform;
}

.start
{
    margin-top: 40px;
}

.absolute-img
{
    position: relative;
}
.absolute-img img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.animate-left
{
    opacity: 1;
}
.animate-left--active
{
    -webkit-transform: translate(-100%, -200px);
        -ms-transform: translate(-100%, -200px);
            transform: translate(-100%, -200px);

    opacity: 0;
}

.animate-right
{
    opacity: 1;
}
.animate-right--active
{
    -webkit-transform: translate(100%, -200px);
        -ms-transform: translate(100%, -200px);
            transform: translate(100%, -200px);

    opacity: 0;
}

.animate-up
{
    opacity: 1;
}
.animate-up--active
{
    -webkit-transform: translate(0, 500px);
        -ms-transform: translate(0, 500px);
            transform: translate(0, 500px);

    opacity: 0;
}

.select-gun
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0 auto;

    text-align: center;

    opacity: 0;
}

.gun
{
    top: 800px; 

    width: 100%;
    height: 258px;
}

.gun-load
{
    -webkit-transform: scale(.6) translate(-50px, 300px) rotate(-50deg);
        -ms-transform: scale(.6) translate(-50px, 300px) rotate(-50deg);
            transform: scale(.6) translate(-50px, 300px) rotate(-50deg);
}

.gun-choose-angle
{
    -webkit-transform: scale(1) translate(-300px, 0) rotate(0deg);
        -ms-transform: scale(1) translate(-300px, 0) rotate(0deg);
            transform: scale(1) translate(-300px, 0) rotate(0deg);
}

.gun-high
{
    -webkit-transform: scale(1) translate(0, 0) rotate(-30deg);
        -ms-transform: scale(1) translate(0, 0) rotate(-30deg);
            transform: scale(1) translate(0, 0) rotate(-30deg);
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
}

.gun-low
{
    -webkit-transform: scale(1) translate(0, 0) rotate(30deg);
        -ms-transform: scale(1) translate(0, 0) rotate(30deg);
            transform: scale(1) translate(0, 0) rotate(30deg);
    -webkit-transform-origin: 20% 0;
        -ms-transform-origin: 20% 0;
            transform-origin: 20% 0;
}

.gun-zoom
{
    -webkit-transition: all 1.5s;
         -o-transition: all 1.5s;
            transition: all 1.5s;
    -webkit-transform: scale(.4) translate(400px, -150px);
        -ms-transform: scale(.4) translate(400px, -150px);
            transform: scale(.4) translate(400px, -150px);

    opacity: 0;
}

.gun-prepare .gun-img
{
    position: absolute;
    top: 46%;
    left: -78%;

    -webkit-transform: scale(.4);
        -ms-transform: scale(.4);
            transform: scale(.4);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}

.gun-settings
{
    position: absolute;
    z-index: 2;
    top: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 

    background: inherit;
}
.gun-settings__choose
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.gun-settings__choose__angle
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}

.gun-set
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    height: 100%; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.gun-set__block
{
    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}
.gun-set__block--top
{
    margin-top: 200px;

    color: #694025;
}
.gun-set__block--bottom
{
    margin-bottom: 140px;
}

.move-down
{
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

.step-powder
{
    font-size: 50px;
    font-weight: 700;

    position: absolute;
    top: 100px;

    width: 100%;

    text-align: center;

    color: #c59c67;
}

.bullet
{
    display: inline-block;

    margin-right: 20px;
    margin-left: 20px;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #000;
}
.bullet--small
{
    width: 25px;
    height: 25px;
}
.bullet--medium
{
    width: 40px;
    height: 40px;
}
.bullet--big
{
    width: 55px;
    height: 55px;
}
.bullet--loading
{
    position: absolute;
    top: 7%;
    left: 55.3%;

    opacity: 0;
}
.bullet--loading--animate
{
    -webkit-animation-name: bulletLoading;
            animation-name: bulletLoading;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
.bullet--loading--toobig
{
    -webkit-animation-name: bullettoobig;
            animation-name: bullettoobig;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
.bullet--toobig
{
    -webkit-transform: translate(0, 40px);
        -ms-transform: translate(0, 40px);
            transform: translate(0, 40px); 

    opacity: 1;
}

.bullet-text
{
    font-size: 34px;
    font-weight: 400;
}

.gunpowder
{
    position: relative;

    display: inline-block;

    width: 250px; 
    height: 220px;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
}
.gunpowder > div
{
    position: absolute;

    width: 20px;
    height: 20px;
    margin-left: 115px; 

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #000;
}
.gunpowder > div:nth-child(1)
{
    top: 0;
}
.gunpowder > div:nth-child(2)
{
    top: 20px;
    left: -10px;
}
.gunpowder > div:nth-child(3)
{
    top: 20px;
    left: 10px;
}
.gunpowder > div:nth-child(4)
{
    top: 0;
    left: 20px;
}
.gunpowder > div:nth-child(5)
{
    top: -20px;
    left: 10px;
}
.gunpowder > div:nth-child(6)
{
    top: 20px;
    left: 30px;
}
.gunpowder > div:nth-child(7)
{
    top: -40px;
    left: 20px;
}
.gunpowder > div:nth-child(8)
{
    top: -20px;
    left: 30px;
}
.gunpowder > div:nth-child(9)
{
    top: 0;
    left: 40px;
}
.gunpowder > div:nth-child(10)
{
    top: 20px;
    left: 50px;
}
.gunpowder--medium > div
{
    margin-left: 105px;
}
.gunpowder--big > div
{
    margin-left: 95px;
}
.gunpowder__text
{
    font-size: 34px;

    display: block;

    margin-top: 65px;
}
.gunpowder--loading
{
    position: absolute;
    top: -28%;
    left: 49%;

    width: 30px;
    height: 30px;

    opacity: 0;
}
.gunpowder--loading .anim
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 
    -webkit-transform: translate(0, 60px);
        -ms-transform: translate(0, 60px);
            transform: translate(0, 60px);
}
.gunpowder--loading--animate
{
    -webkit-animation-name: gunpowderLoading;
            animation-name: gunpowderLoading;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.angle
{
    font-family: 'Constantia', 'Helvetica', Arial, serif;

    position: relative;

    margin: 0 30px;
}
.angle span
{
    font-size: 34px;
    font-weight: 700;

    display: block;

    color: #af2626;
}

.result-screen
{
    position: absolute;
    z-index: -1;
    top: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 100%;
    height: 100%;

    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-align: center; 

    opacity: 0;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}
.result-screen--explode
{
    background-image: url('../images/explode-screen.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
.result-screen--fail-low
{
    background-image: url('../images/fail-low.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
.result-screen--fail-high
{
    background-image: url('../images/fail-high.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
.result-screen--win
{
    background-image: url('../images/win.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
.result-screen__top
{
    margin-top: 200px;
}
.result-screen__middle
{
    font-size: 34px; 

    position: absolute;
    bottom: 420px;

    width: 100%;

    color: #694025;
}
.result-screen__bottom
{
    margin-bottom: 140px;

    text-transform: uppercase;
}

.dramatization
{
    position: absolute;
    z-index: 9; 
    top: 0;

    width: 100%;
    height: 100%;
}

.d-bullet
{
    position: absolute;

    width: 10px;
    height: 10px;

    -webkit-transition: -webkit-transform .5s ease;
         -o-transition:         transform .5s ease;
            transition: -webkit-transform .5s ease;
            transition:         transform .5s ease;
            transition:         transform .5s ease, -webkit-transform .5s ease; 

    opacity: 0;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #000;
}
.d-bullet--low
{
    top: 71%;
    left: 31.6%;
}
.d-bullet--down
{
    top: 77%;
    left: 31.6%;

    -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
            transform: translateY(80px);

    opacity: 1;
}
.d-bullet--not-far
{
    top: 70%;
    left: 30.6%;

    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
            animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

    opacity: 1;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.d-bullet--not-far:after
{
    display: block;

    width: 10px;
    height: 10px;

    content: '';
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
            animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-color: #000;

    will-change: transform;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes yAxis
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    20%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    40%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    60%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    80%
    {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    100%
    {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
}

@keyframes yAxis
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    20%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    40%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    60%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    80%
    {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    100%
    {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
}

@-webkit-keyframes xAxis
{
    0%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    20%
    {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    40%
    {
        -webkit-transform: translateX(150px);
                transform: translateX(150px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    60%
    {
        -webkit-transform: translateX(200px);
                transform: translateX(200px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    80%
    {
        -webkit-transform: translateX(250px);
                transform: translateX(250px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    100%
    {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
}

@keyframes xAxis
{
    0%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    20%
    {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    40%
    {
        -webkit-transform: translateX(150px);
                transform: translateX(150px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    60%
    {
        -webkit-transform: translateX(200px);
                transform: translateX(200px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    80%
    {
        -webkit-transform: translateX(250px);
                transform: translateX(250px);
        -webkit-animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
                animation-timing-function: cubic-bezier(1.32, 1.51, .21, .333);
    }
    100%
    {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
}

.shot
{
    position: absolute;
    top: 270px;
    left: 0;

    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    opacity: 1;
}
.shot-animate
{
    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    opacity: 0;
}

.person
{
    position: absolute;
    bottom: 600px;
    left: 5%;

    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
}
.person-animate
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px); 

    opacity: 0;
}
.person img
{
    position: absolute;

    -webkit-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.js-person
{
    opacity: 0;
}

.aim
{
    position: absolute;
    right: 5%;
    bottom: 300px;

    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
}
.aim-animate
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px); 

    opacity: 0;
}

.effects
{
    position: absolute;
    top: 40%;
    left: 21%;
}

.effect
{
    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease; 

    opacity: 0;
}
.effect--active
{
    opacity: 1;
}

.gun-up .person__body
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
}

.gun-up .person__gun
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
}

.gun-down .person__body
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
}

.gun-down .person__gun
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease; 
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
}

.gun-goes-up .person__body
{
    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease; 
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.gun-goes-up .person__gun
{
    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease; 
    -webkit-transform: rotate(-14deg);
        -ms-transform: rotate(-14deg);
            transform: rotate(-14deg);
}

.animate-inside
{
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
            transform: scale(.3);

    opacity: 0;

    will-change: transform;
}

.animate-down
{
    -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
            transform: translateY(300px);

    opacity: 0;

    will-change: transform;
}

.animate-top
{
    -webkit-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
            transform: translateY(-300px);

    opacity: 0;

    will-change: transform;
}

.animate-s
{
    -webkit-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);

    opacity: 1;

    will-change: transform;
}

@-webkit-keyframes gunpowderLoading
{
    0%
    {
        -webkit-transform: translate(70px, -40px);
                transform: translate(70px, -40px); 

        opacity: 0;
    }
    40%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 0;
    }
}

@keyframes gunpowderLoading
{
    0%
    {
        -webkit-transform: translate(70px, -40px);
                transform: translate(70px, -40px); 

        opacity: 0;
    }
    40%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 0;
    }
}

@-webkit-keyframes bulletLoading
{
    0%
    {
        -webkit-transform: translate(70px, -40px);
                transform: translate(70px, -40px); 

        opacity: 0;
    }
    70%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, 100px);
                transform: translate(0, 100px);

        opacity: 0;
    }
}

@keyframes bulletLoading
{
    0%
    {
        -webkit-transform: translate(70px, -40px);
                transform: translate(70px, -40px); 

        opacity: 0;
    }
    70%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, 100px);
                transform: translate(0, 100px);

        opacity: 0;
    }
}

@-webkit-keyframes bullettoobig
{
    0%
    {
        -webkit-transform: translate(70px, -40px);
                transform: translate(70px, -40px); 

        opacity: 0;
    }
    70%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, 40px);
                transform: translate(0, 40px);

        opacity: 1;
    }
}

@keyframes bullettoobig
{
    0%
    {
        -webkit-transform: translate(70px, -40px);
                transform: translate(70px, -40px); 

        opacity: 0;
    }
    70%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, 40px);
                transform: translate(0, 40px);

        opacity: 1;
    }
}

@-webkit-keyframes bulletGoesNotFar
{
    0%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        -webkit-animation-timing-function: cubic-bezier(.33333, .66667, .66667, 1);
                animation-timing-function: cubic-bezier(.33333, .66667, .66667, 1);
    }
    20%
    {
        -webkit-transform: translate(50px, -50px);
                transform: translate(50px, -50px);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
    40%
    {
        -webkit-transform: translate(80px, -30px);
                transform: translate(80px, -30px);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
    60%
    {
        -webkit-transform: translate(110px, 0);
                transform: translate(110px, 0);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
    100%
    {
        -webkit-transform: translate(160px, 100px);
                transform: translate(160px, 100px);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
}

@keyframes bulletGoesNotFar
{
    0%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        -webkit-animation-timing-function: cubic-bezier(.33333, .66667, .66667, 1);
                animation-timing-function: cubic-bezier(.33333, .66667, .66667, 1);
    }
    20%
    {
        -webkit-transform: translate(50px, -50px);
                transform: translate(50px, -50px);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
    40%
    {
        -webkit-transform: translate(80px, -30px);
                transform: translate(80px, -30px);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
    60%
    {
        -webkit-transform: translate(110px, 0);
                transform: translate(110px, 0);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
    100%
    {
        -webkit-transform: translate(160px, 100px);
                transform: translate(160px, 100px);
        -webkit-animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
                animation-timing-function: cubic-bezier(.33333, 0, .66667, .33333);
    }
}
