/* colors */
$backgroundColor: #fff;
$textColor: #7f8c8d;
$linkColor: #0f9d58;

$bg-color: #f3f3f3;
$txt-black: #383838;
$txt-grey: #4c4c4c;

/* font */
$font-size-base: 18px;

/* queries */
$desktop: "(max-width: 1150px)";
$desktop-up: "(min-width: 1151px)";
$desktop-small: "(max-width: 1440px)";
$desktop-large: "(min-width: 1441px)";

$all2: all .2s ease;
