@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/fonts";
@import "partials/header";
@import "partials/footer";


//@include fontFace('HelveticaNeue','/fonts/helveticaneuemediumitalic', 500, italic);
//@include fontFace('HelveticaNeue','/fonts/helveticaneuebold', 600);
@include fontFace('Constantia','../fonts/Constantia', 400);
@include fontFace('Constantia','../fonts/Constantia-Bold', 700);

body,
html {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Constantia', 'Helvetica', Arial, serif;
}

html {
  overflow: hidden;

  font-size: 30px;
}

body {
  position: relative;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}




body, html, .app, .intro {
  height: 100%;

}

button {
  outline: none;
  background: none;
  border: none;
  padding: 0;
}

.version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

p {
  margin: 0;
}

.hidden {
  display: none !important;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  box-sizing: border-box;

  background-image: url("../images/background-aim.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 2;
  position: relative;
  transition: all .3s ease;

  &.hide {
    opacity: 0;
    transition: all .5s ease;
    z-index: -1;
  }

  &__text {
    width: 50%;
    align-self: center;
    text-align: center;
  }

}

.angle-illustration {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0;

  transition: all .5s ease;

  &--down {
    background-image: url("../images/aim-down.jpg");
  }
  &--ok {
    background-image: url("../images/aim-ok.jpg");
  }
  &--up {
    background-image: url("../images/aim-up.jpg");
  }
}


.decoration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 210px;
  padding-top: 70px;
  padding-bottom: 65px;

  font-family: 'Constantia', 'Helvetica', Arial, serif;
  font-size: 60px;
  font-weight: 700;
  color: #af2626;

  box-sizing: border-box;

  &--question {
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    color: #694025;
    font-weight: 400;
  }

  &:after, &:before {
    position: absolute;
    right: 50%;
    content: '';
    display: block;
    width: 452px;
    height: 37px;
    background-image: url("../images/decor.png");
    background-size: cover;
  }
  &:after {
    top: 0;
    transform: translateX(50%);
    will-change: transform;
  }

  &:before {
    bottom: 0;
    transform: translateX(50%) rotate(180deg);
    will-change: transform;
  }

}

.header {
  margin-bottom: 10px;
  font-size: 53px;
  letter-spacing: .8px;
  text-transform: uppercase;
  transition: all .3s ease-in;
  font-weight: 700;
  color: #694025;

  &--under {
    max-width: 860px;
    margin: 0 auto;
    font-size: 60px;
    //line-height: 44px;
    font-weight: 400;
    transition: all .3s ease-in;
    color: #694025;
  }
}

.game-name {
  margin-top: 200px;
}

.start-button {
  margin-bottom: 140px;
  text-transform: uppercase;
  will-change: transform;

  transition: all .3s ease-in;
}

.start {
  margin-top: 40px;
}

.absolute-img {
  position: relative;

  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.animate-left {
  opacity: 1;

  &--active {
    transform: translate(-100%, -200px);
    opacity: 0;
  }
}

.animate-right {
  opacity: 1;

  &--active {
    transform: translate(100%, -200px);
    opacity: 0;
  }
}
.animate-up {
  opacity: 1;

  &--active {
    transform: translate(0, 500px);
    opacity: 0;
  }
}


.select-gun {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  opacity: 0;


}
.gun {
  height: 258px;
  width: 100%;
  top: 800px;

  img {
    //transform: scale(.6) translate(50px, 200px) rotate(-50deg);
  }
}

.gun-img {
  //transition: all 1s;
}
.gun-load {
  transform: scale(.6) translate(-50px, 300px) rotate(-50deg);
}

.gun-choose-angle {
  transform: scale(1) translate(-300px, 0) rotate(0deg);
}

.gun-high {
  transform: scale(1) translate(0, 0) rotate(-30deg);
  transform-origin: 50% 0;
}
.gun-low {
  transform: scale(1) translate(0, 0) rotate(30deg);
  transform-origin: 20% 0;
}

.gun-zoom {
  transform: scale(0.4) translate(400px, -150px);
  transition: all 1.5s;
  opacity: 0;
}

.gun-prepare {

  .gun-img {
    transform: scale(.4);
    top: 46%;
    left: -78%;
    position: absolute;
    transform-origin: 50% 50%;
  }

}

.gun-settings {
  height: 100%;

  position: absolute;
  top: 0;
  width: 100%;

  overflow: hidden;
  background: inherit;
  z-index: 2;

  transition: all 1s ease;

  &__choose {
    margin-top: 30px;
    margin-bottom: 30px;

    &__angle {


      transform: translate(0, 0);
      transition: all 1s ease;
    }
  }

}

.gun-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__block {
    transition: all .3s ease;

    &--top {
      margin-top: 200px;
      color: #694025;
    }
    &--bottom {
      margin-bottom: 140px;
    }
  }



}
.move-down {
  transform: translateY(100%);
}

.step-powder {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: #c59c67;
}

.bullet {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #000;

  &--small {
    width: 25px;
    height: 25px;
  }
  &--medium {
    width: 40px;
    height: 40px;
  }
  &--big {
    width: 55px;
    height: 55px;
  }

  &--loading {
    position: absolute;
    top: 7%;
    left: 55.3%;
    opacity: 0;

    &--animate {
      animation-name: bulletLoading;
      animation-iteration-count: 1;
    }
    &--toobig {
      animation-name: bullettoobig;
      animation-iteration-count: 1;
    }

  }

  &--toobig {
    opacity: 1;
    transform: translate(0, 40px);
  }
}

.bullet-wrap {

}
.bullet-text {
  font-size: 34px;
  font-weight: 400;
}

.gunpowder {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  height: 220px;
  margin-top: 60px;
  width: 250px;

  & > div {
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    width: 20px;
    height: 20px;
    margin-left: 115px;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 20px;
      left: -10px;
    }
    &:nth-child(3) {
      top: 20px;
      left: 10px;
    }
    &:nth-child(4) {
      top: 0;
      left: 20px;
    }
    &:nth-child(5) {
      top: -20px;
      left: 10px;
    }
    &:nth-child(6) {
      top: 20px;
      left: 30px;
    }
    &:nth-child(7) {
      top: -40px;
      left: 20px;
    }
    &:nth-child(8) {
      top: -20px;
      left: 30px;
    }
    &:nth-child(9) {
      top: 0;
      left: 40px;
    }
    &:nth-child(10) {
      top: 20px;
      left: 50px;
    }
  }

  &--medium {
    & > div {
      margin-left: 105px;
    }
  }
  &--big {
    & > div {
      margin-left: 95px;
    }
  }

  &__text {
    display: block;
    font-size: 34px;
    margin-top: 65px;
  }

  &--loading {
    position: absolute;
    top: -28%;
    left: 49%;
    width: 30px;
    height: 30px;
    opacity: 0;

    .anim {
      transform: translate(0, 60px);
      transition: all 1s ease
    }


    &--animate {
      animation-name: gunpowderLoading;
      animation-iteration-count: 1;
    }

  }

}

.angle {
  font-family: 'Constantia', 'Helvetica', Arial, serif;
  position: relative;
  margin: 0 30px;
  span {
    display: block;
    font-weight: 700;
    font-size: 34px;
    color: #af2626;
  }
}

.result-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: all .3s ease;
  opacity: 0;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;

  &--explode {
    background-image: url("../images/explode-screen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--fail-low {
    background-image: url("../images/fail-low.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--fail-high {
    background-image: url("../images/fail-high.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--win {
    background-image: url("../images/win.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--almost {
    background-image: url("../images/fail-almost.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__top {
    margin-top: 200px;
  }
  &__middle {
    width: 100%;
    position: absolute;
    bottom: 420px;
    color: #694025;
    font-size: 34px;
  }
  &__bottom {
    margin-bottom: 140px;
    text-transform: uppercase;
  }
}

.dramatization {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 9;


}
.special {
  position: absolute;
  z-index: 99;
  bottom: 60px;
  width: 100%;
  left: 0;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: center;
  transition: all .3s ease;
}
.d-bullet {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;

  opacity: 0;
  transition: transform .5s ease;

  &--low {
    top: 71%;
    left: 31.6%;
  }

  &--down {
    top: 77%;
    left: 31.6%;
    transform: translateY(80px);
    opacity: 1;
  }
  &--not-far {
    top: 70%;
    left: 30.6%;
    //transform: translateY(80px);
    //animation-name: bulletGoesNotFar;
    //animation-duration: 2s;
    //animation-iteration-count: 1;
    opacity: 1;

    //animation-name: xAxis;
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    //transform: translate(300px, 100px);
    //transition: all 1000ms cubic-bezier(0.000, 1.650, 1.000, -0.115);

    &:after {
      content: '';
      display: block;
      will-change: transform;
      width: 10px;
      height: 10px;
      border-radius: 20px;
      background-color: #000;
      //animation-name: yAxis;
      animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }
}
@keyframes yAxis {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  40% {
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  60% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  80% {
    transform: translateY(50px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes xAxis {
  0% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  20% {
    transform: translateX(100px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  40% {
    transform: translateX(150px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  60% {
    transform: translateX(200px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  80% {
    transform: translateX(250px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  100% {
    transform: translateX(300px);
  }
}
.shot {
  position: absolute;
  top: 270px;
  left: 0;
  transition: all .3s ease;
  opacity: 1;

  &-animate {
    transition: all .3s ease;
    opacity: 0;
  }
}
.person {
  position: absolute;
  bottom: 600px;
  left: 5%;
  transform: translateX(0);
  transition: all 1s ease;
  opacity: 1;

  &-animate {
    transition: all 1s ease;
    opacity: 0;
    transform: translateX(-100px);
  }

  img {
    position: absolute;
    transition: all .2s ease;
  }
}

.js-person {
  opacity: 0;
}

.aim {
  position: absolute;
  right: 5%;
  bottom: 300px;

  transition: all 1s ease;

  transform: translateX(0);
  opacity: 1;

  &-animate {
    transition: all 1s ease;
    opacity: 0;
    transform: translateX(100px);
  }


}

.effects {
  position: absolute;
  top: 40%;
  left: 21%;
}
.effect {
  opacity: 0;

  transition: all .3s ease;

  &--active {
    opacity: 1;
  }

}




.gun-up {
  .person__body {
    transform: rotate(-5deg);
    transition: all 1s ease;
  }
  .person__gun {
    transform: rotate(-25deg);
    transition: all 1s ease;
  }
}
.gun-down {
  .person__body {
    transform: rotate(5deg);
    transition: all 1s ease;
  }
  .person__gun {
    transform: rotate(25deg);
    transition: all 1s ease;
  }
}

.gun-goes-up {
  .person__body {
    transform: rotate(0deg);
    transition: all .3s ease;
  }
  .person__gun {
    transform: rotate(-14deg);
    transition: all .3s ease;
  }

}


.animate-inside {
  transform: scale(.3);
  opacity: 0;
  will-change: transform;
}
.animate-down {
  transform: translateY(300px);
  opacity: 0;
  will-change: transform;
}
.animate-top {
  transform: translateY(-300px);
  opacity: 0;
  will-change: transform;
}
.animate-s {
  transform: translateY(0) scale(1);
  opacity: 1;
  will-change: transform;

}




@keyframes gunpowderLoading {
  0% {
    opacity: 0;
    transform: translate(70px, -40px);
  }
  40% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    //transform: translate(0, 100px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes bulletLoading {
  0% {
    opacity: 0;
    transform: translate(70px, -40px);
  }
  70% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 100px);
    opacity: 0;
  }
}
@keyframes bullettoobig {
  0% {
    opacity: 0;
    transform: translate(70px, -40px);
  }
  70% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 40px);
    opacity: 1;
  }
}

@keyframes bulletGoesNotFar {
  0% {

    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
  }
  20% {
    transform: translate(50px, -50px);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  }
  40% {
    transform: translate(80px, -30px);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  }
  60% {
    transform: translate(110px, 0);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);

  }
  100% {
    transform: translate(160px, 100px);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);

  }
  //0% { transform: scale(0.0); animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1) }
  //69.0983% { transform: scale(1.2); animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333) }
  //100% { transform: scale(1.0) }
}