@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/fonts";
@import "partials/header";
@import "partials/footer";


//@include fontFace('HelveticaNeue','/fonts/helveticaneuemediumitalic', 500, italic);
//@include fontFace('HelveticaNeue','/fonts/helveticaneuebold', 600);

html {
  overflow: hidden;

  font-size: 30px;
}
body, html, .app, .intro {
  height: 100%;

}

.version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

p {
  margin: 0;
}

.hidden {
  display: none !important;
}

.intro {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;

  z-index: 2;
  position: relative;

  &__img {
    width: 50%;
    height: 100%;


    img {

    }
  }
  &__text {
    width: 50%;
    align-self: center;
    text-align: center;
  }

}

.start {
  margin-top: 40px;
}

.absolute-img {
  position: relative;

  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.animate-left {
  opacity: 1;

  &--active {
    transform: translate(-100%, -200px);
    opacity: 0;
  }
}

.animate-right {
  opacity: 1;

  &--active {
    transform: translate(100%, -200px);
    opacity: 0;
  }
}
.animate-up {
  opacity: 1;

  &--active {
    transform: translate(0, 500px);
    opacity: 0;
  }
}


.select-gun {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;

}
.gun {
  height: 70%;

  img {
    //transform: scale(.6) translate(50px, 200px) rotate(-50deg);
  }
}

.gun-img {
  //transition: all 1s;
}
.gun-load {
  transform: scale(.6) translate(-50px, 300px) rotate(-50deg);
}

.gun-choose-angle {
  transform: scale(1) translate(-300px, 0) rotate(0deg);
}

.gun-high {
  transform: scale(1) translate(0, 0) rotate(-30deg);
  transform-origin: 50% 0;
}
.gun-low {
  transform: scale(1) translate(0, 0) rotate(30deg);
  transform-origin: 20% 0;
}

.gun-prepare {

  .gun-img {
    transform: scale(.4);
    top: 46%;
    left: -78%;
    position: absolute;
    transform-origin: 50% 50%;
  }

}

.gun-settings {
  height: 30%;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  background: inherit;
  z-index: 2;

  transition: all 1s ease;

  &__choose {
    margin-top: 30px;
    margin-bottom: 30px;

    &__angle {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      top: 50%;
      height: 400px;
      margin-top: -220px;
      right: 20%;

      transform: translate(0, 0);
      transition: all 1s ease;
    }
  }


  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    left: 0;
    top: 25px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 1);
    filter: blur(15px);
    z-index: -1;
  }
}

.move-down {
  transform: translateY(100%);
}

.bullet {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #000;

  &--small {
    width: 40px;
    height: 40px;
  }
  &--medium {
    width: 50px;
    height: 50px;
  }
  &--big {
    width: 60px;
    height: 60px;
  }

  &--loading {
    position: absolute;
    top: 33%;
    left: 54.3%;
    opacity: 0;

    &--animate {
      animation-name: bulletLoading;
      animation-iteration-count: 1;
    }
    &--toobig {
      animation-name: bullettoobig;
      animation-iteration-count: 1;
    }

  }

  &--toobig {
    opacity: 1;
    transform: translate(0, 40px);
  }
}

.gunpowder {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
  margin-top: 24px;
  width: 30px;

  & > div {
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    width: 10px;
    height: 10px;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 10px;
      left: -5px;
    }
    &:nth-child(3) {
      top: 10px;
      left: 5px;
    }
    &:nth-child(4) {
      top: 0;
      left: 10px;
    }
    &:nth-child(5) {
      top: -10px;
      left: 5px;
    }
    &:nth-child(6) {
      top: 10px;
      left: 15px;
    }
    &:nth-child(7) {
      top: -20px;
      left: 10px;
    }
    &:nth-child(8) {
      top: -10px;
      left: 15px;
    }
    &:nth-child(9) {
      top: 0;
      left: 20px;
    }
    &:nth-child(10) {
      top: 10px;
      left: 25px;
    }
  }

  &--loading {
    position: absolute;
    top: 33%;
    left: 55%;
    width: 30px;
    height: 30px;
    opacity: 0;

    .anim {
      transform: translate(0, 60px);
      transition: all 1s ease
    }


    &--animate {
      animation-name: gunpowderLoading;
      animation-iteration-count: 1;
    }

  }

}

.dramatization {
  width: 100%;
  height: 100%;
  position: relative;


}
.d-bullet {
  position: absolute;
  //width: 10px;
  //height: 10px;
  //background-color: #000;
  border-radius: 50%;

  opacity: 0;
  transition: transform .5s ease;

  &--down {
    top: 57%;
    left: 17.6%;
    transform: translateY(80px);
    opacity: 1;
  }
  &--not-far {
    top: 52%;
    left: 18.6%;
    //transform: translateY(80px);
    //animation-name: bulletGoesNotFar;
    //animation-duration: 2s;
    //animation-iteration-count: 1;
    opacity: 1;

    //animation-name: xAxis;
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    //transform: translate(300px, 100px);
    //transition: all 1000ms cubic-bezier(0.000, 1.650, 1.000, -0.115);

    &:after {
      content: '';
      display: block;
      will-change: transform;
      width: 10px;
      height: 10px;
      border-radius: 20px;
      background-color: #000;
      //animation-name: yAxis;
      animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }
}
@keyframes yAxis {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  40% {
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  60% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  80% {
    transform: translateY(50px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes xAxis {
  0% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  20% {
    transform: translateX(100px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  40% {
    transform: translateX(150px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  60% {
    transform: translateX(200px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  80% {
    transform: translateX(250px);
    animation-timing-function: cubic-bezier(1.32, 1.51, 0.21, 0.333);
  }
  100% {
    transform: translateX(300px);
  }
}
.person {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translateX(0);
  transition: all 1s ease;
  opacity: 1;

  &-animate {
    transition: all 1s ease;
    opacity: 0;
    transform: translateX(-100px);
  }

  &__head {
    position: absolute;
    left: 2px;
    top: -75px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #000;
  }

  &__body {
    position: absolute;
    top: 70px;
    width: 70px;
    height: 120px;
    border: 3px solid #000;
    border-radius: 15px 15px 0 0;
  }
  &__legs {
    position: absolute;
    top: 190px;
    width: 70px;
    height: 80px;
    border: 3px solid #000;

    &:before {
      position: absolute;
      content: '';
      left: 33px;
      width: 3px;
      height: 80px;
      background: #000;
    }
  }

  &__gun {
    width: 300px;
    height: 44px;
    position: absolute;
    top: 25px;
    left: -35px;
    z-index: -1;


  }
}

.aim {
  position: absolute;
  right: 5%;
  top: 46%;

  width: 150px;
  height: 200px;
  border: 3px solid #000;

  transition: all 1s ease;

  transform: translateX(0);
  opacity: 1;

  &-animate {
    transition: all 1s ease;
    opacity: 0;
    transform: translateX(100px);
  }

  .circle {
    position: absolute;
    top: 44px;
    right: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #000;

    &:after, &:before {
      content: '';
      position: absolute;
      background-color: #000;
    }
    &:after {
      width: 3px;
      height: 100%;
      top: 0;
      left: 49%;
    }
    &:before {
      width: 100%;
      height: 3px;
      top: 49%;
      left: 0;
    }

  }
}

.effects {
  position: absolute;
  top: 40%;
  left: 21%;
}
.effect {
  opacity: 0;

  transition: all .3s ease;

  &--active {
    opacity: 1;
  }

}




.gun-up {
  .person__body {
    transform: rotate(-5deg);
    transition: all 1s ease;
  }
  .person__gun {
    transform: rotate(-25deg);
    transition: all 1s ease;
  }
}
.gun-down {
  .person__body {
    transform: rotate(5deg);
    transition: all 1s ease;
  }
  .person__gun {
    transform: rotate(25deg);
    transition: all 1s ease;
  }
}

.gun-goes-up {
  .person__body {
    transform: rotate(0deg);
    transition: all .3s ease;
  }
  .person__gun {
    transform: rotate(-14deg);
    transition: all .3s ease;
  }

}

@keyframes gunpowderLoading {
  0% {
    opacity: 0;
    transform: translate(70px, -40px);
  }
  40% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    //transform: translate(0, 100px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes bulletLoading {
  0% {
    opacity: 0;
    transform: translate(70px, -40px);
  }
  70% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 100px);
    opacity: 0;
  }
}
@keyframes bullettoobig {
  0% {
    opacity: 0;
    transform: translate(70px, -40px);
  }
  70% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 40px);
    opacity: 1;
  }
}

@keyframes bulletGoesNotFar {
  0% {

    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
  }
  20% {
    transform: translate(50px, -50px);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  }
  40% {
    transform: translate(80px, -30px);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  }
  60% {
    transform: translate(110px, 0);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);

  }
  100% {
    transform: translate(160px, 100px);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);

  }
  //0% { transform: scale(0.0); animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1) }
  //69.0983% { transform: scale(1.2); animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333) }
  //100% { transform: scale(1.0) }
}